In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Mobiles_Dataset.csv")

In [3]:
df.head()

,Product Name,Actual price,Discount price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,"1,005 Ratings",41 Reviews,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,"1,005 Ratings",41 Reviews,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...

In [4]:
df.shape

(984, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product Name         984 non-null    object
 1   Actual price         984 non-null    object
 2   Discount price       984 non-null    object
 3   Stars                984 non-null    float64
 4   Rating               984 non-null    object
 5   Reviews              984 non-null    object
 6   RAM (GB)             984 non-null    object
 7   Storage (GB)         984 non-null    object
 8   Display Size (inch)  984 non-null    float64
 9   Camera               908 non-null    object
 10  Description          984 non-null    object
 11  Link                 984 non-null    object
dtypes: float64(2), object(10)
memory usage: 92.4+ KB

In [6]:
df.isnull().sum()

Product Name            0
Actual price            0
Discount price          0
Stars                   0
Rating                  0
Reviews                 0
RAM (GB)                0
Storage (GB)            0
Display Size (inch)     0
Camera                 76
Description             0
Link                    0
dtype: int64

In [7]:
df

,Product Name,Actual price,Discount price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,"1,005 Ratings",41 Reviews,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,"1,005 Ratings",41 Reviews,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...
...,...,...,...,...,...,...,...,...,...,...,...,...
979,Kechaoda A27,"₹1,499",₹967,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
980,Kechaoda A27,"₹1,499",₹975,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,NaN,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
981,Kechaoda A27,"₹1,499",₹975,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,NaN,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
982,Kechaoda A27,"₹1,499",₹930,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
983,Kechaoda A27,"₹1,499",₹967,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [8]:
df.duplicated().sum()

0

In [9]:
df.columns

Index(['Product Name', 'Actual price', 'Discount price', 'Stars', 'Rating',
       'Reviews', 'RAM (GB)', 'Storage (GB)', 'Display Size (inch)', 'Camera',
       'Description', 'Link'],
      dtype='object')

In [10]:
df['Product Name'].nunique()

657

In [11]:
df

,Product Name,Actual price,Discount price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,"1,005 Ratings",41 Reviews,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,"1,005 Ratings",41 Reviews,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...
...,...,...,...,...,...,...,...,...,...,...,...,...
979,Kechaoda A27,"₹1,499",₹967,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
980,Kechaoda A27,"₹1,499",₹975,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,NaN,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
981,Kechaoda A27,"₹1,499",₹975,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,NaN,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
982,Kechaoda A27,"₹1,499",₹930,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
983,Kechaoda A27,"₹1,499",₹967,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [12]:
df = df.drop_duplicates(subset="Product Name")

In [13]:
df

,Product Name,Actual price,Discount price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,"1,005 Ratings",41 Reviews,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,"1,005 Ratings",41 Reviews,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...
...,...,...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,"₹1,412","₹1,064",4.0,"9,879 Ratings",597 Reviews,NIL,NIL,1.40,3MP + 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB3...,https://www.flipkart.com/kechaoda-k33/p/itmfgp...
973,Kechaoda K28,"₹1,399","₹1,260",4.0,"4,073 Ratings",323 Reviews,NIL,NIL,2.40,3MP,32 MB RAM | 64 MB ROM | Expandable Upto 16 GB6...,https://www.flipkart.com/kechaoda-k28/p/itmf3p...
974,LAVA A3 vibe,"₹1,319","₹1,212",4.2,"21,425 Ratings","2,247 Reviews",NIL,0,1.77,3MP,0 GB ROM | Expandable Upto 32 GB4.5 cm (1.77 i...,https://www.flipkart.com/lava-a3-vibe/p/itmed3...
975,Kechaoda A26,"₹1,499",₹930,4.0,"22,244 Ratings","1,377 Reviews",NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a26/p/itmfcv...
978,Kechaoda A27,"₹1,499",₹967,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [14]:

df["Rating"] = df["Rating"].str.replace(" Ratings", "").str.replace(",", "")

C:\Users\matru\AppData\Local\Temp\ipykernel_10356\2677095242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Rating"] = df["Rating"].str.replace(" Ratings", "").str.replace(",", "")

In [15]:
df["Rating"] = df["Rating"].astype("int")

C:\Users\matru\AppData\Local\Temp\ipykernel_10356\2242547474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Rating"] = df["Rating"].astype("int")

In [16]:
df

,Product Name,Actual price,Discount price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,44793,"2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,44793,"2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,44793,"2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,1005,41 Reviews,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,1005,41 Reviews,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...
...,...,...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,"₹1,412","₹1,064",4.0,9879,597 Reviews,NIL,NIL,1.40,3MP + 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB3...,https://www.flipkart.com/kechaoda-k33/p/itmfgp...
973,Kechaoda K28,"₹1,399","₹1,260",4.0,4073,323 Reviews,NIL,NIL,2.40,3MP,32 MB RAM | 64 MB ROM | Expandable Upto 16 GB6...,https://www.flipkart.com/kechaoda-k28/p/itmf3p...
974,LAVA A3 vibe,"₹1,319","₹1,212",4.2,21425,"2,247 Reviews",NIL,0,1.77,3MP,0 GB ROM | Expandable Upto 32 GB4.5 cm (1.77 i...,https://www.flipkart.com/lava-a3-vibe/p/itmed3...
975,Kechaoda A26,"₹1,499",₹930,4.0,22244,"1,377 Reviews",NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a26/p/itmfcv...
978,Kechaoda A27,"₹1,499",₹967,4.0,11022,693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [17]:
df = df.rename(columns={"Reviews":"Overall_Reviews"})

In [18]:
df

,Product Name,Actual price,Discount price,Stars,Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,44793,"2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,44793,"2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,44793,"2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,1005,41 Reviews,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,1005,41 Reviews,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...
...,...,...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,"₹1,412","₹1,064",4.0,9879,597 Reviews,NIL,NIL,1.40,3MP + 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB3...,https://www.flipkart.com/kechaoda-k33/p/itmfgp...
973,Kechaoda K28,"₹1,399","₹1,260",4.0,4073,323 Reviews,NIL,NIL,2.40,3MP,32 MB RAM | 64 MB ROM | Expandable Upto 16 GB6...,https://www.flipkart.com/kechaoda-k28/p/itmf3p...
974,LAVA A3 vibe,"₹1,319","₹1,212",4.2,21425,"2,247 Reviews",NIL,0,1.77,3MP,0 GB ROM | Expandable Upto 32 GB4.5 cm (1.77 i...,https://www.flipkart.com/lava-a3-vibe/p/itmed3...
975,Kechaoda A26,"₹1,499",₹930,4.0,22244,"1,377 Reviews",NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a26/p/itmfcv...
978,Kechaoda A27,"₹1,499",₹967,4.0,11022,693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [19]:
df["Overall_Reviews"]=df["Overall_Reviews"].str.replace("Reviews","").str.replace(",", "")

In [20]:
df

,Product Name,Actual price,Discount price,Stars,Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,1005,41,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,1005,41,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...
...,...,...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,"₹1,412","₹1,064",4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB3...,https://www.flipkart.com/kechaoda-k33/p/itmfgp...
973,Kechaoda K28,"₹1,399","₹1,260",4.0,4073,323,NIL,NIL,2.40,3MP,32 MB RAM | 64 MB ROM | Expandable Upto 16 GB6...,https://www.flipkart.com/kechaoda-k28/p/itmf3p...
974,LAVA A3 vibe,"₹1,319","₹1,212",4.2,21425,2247,NIL,0,1.77,3MP,0 GB ROM | Expandable Upto 32 GB4.5 cm (1.77 i...,https://www.flipkart.com/lava-a3-vibe/p/itmed3...
975,Kechaoda A26,"₹1,499",₹930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a26/p/itmfcv...
978,Kechaoda A27,"₹1,499",₹967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [21]:
df["Overall_Reviews"]  = df["Overall_Reviews"].astype("int")

In [22]:
df

,Product Name,Actual price,Discount price,Stars,Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,1005,41,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,1005,41,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...
...,...,...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,"₹1,412","₹1,064",4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB3...,https://www.flipkart.com/kechaoda-k33/p/itmfgp...
973,Kechaoda K28,"₹1,399","₹1,260",4.0,4073,323,NIL,NIL,2.40,3MP,32 MB RAM | 64 MB ROM | Expandable Upto 16 GB6...,https://www.flipkart.com/kechaoda-k28/p/itmf3p...
974,LAVA A3 vibe,"₹1,319","₹1,212",4.2,21425,2247,NIL,0,1.77,3MP,0 GB ROM | Expandable Upto 32 GB4.5 cm (1.77 i...,https://www.flipkart.com/lava-a3-vibe/p/itmed3...
975,Kechaoda A26,"₹1,499",₹930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a26/p/itmfcv...
978,Kechaoda A27,"₹1,499",₹967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 657 entries, 0 to 978
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product Name         657 non-null    object
 1   Actual price         657 non-null    object
 2   Discount price       657 non-null    object
 3   Stars                657 non-null    float64
 4   Rating               657 non-null    int32
 5   Overall_Reviews      657 non-null    int32
 6   RAM (GB)             657 non-null    object
 7   Storage (GB)         657 non-null    object
 8   Display Size (inch)  657 non-null    float64
 9   Camera               609 non-null    object
 10  Description          657 non-null    object
 11  Link                 657 non-null    object
dtypes: float64(2), int32(2), object(8)
memory usage: 61.6+ KB

In [24]:
df["Actual Price"] = df["Actual price"].str.replace("₹", "").str.replace(",", "")

In [25]:
df

,Product Name,Actual price,Discount price,Stars,Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link,Actual Price
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...,79600
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...,79600
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...,79600
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,1005,41,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...,19999
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,1005,41,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...,16999
...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,"₹1,412","₹1,064",4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB3...,https://www.flipkart.com/kechaoda-k33/p/itmfgp...,1412
973,Kechaoda K28,"₹1,399","₹1,260",4.0,4073,323,NIL,NIL,2.40,3MP,32 MB RAM | 64 MB ROM | Expandable Upto 16 GB6...,https://www.flipkart.com/kechaoda-k28/p/itmf3p...,1399
974,LAVA A3 vibe,"₹1,319","₹1,212",4.2,21425,2247,NIL,0,1.77,3MP,0 GB ROM | Expandable Upto 32 GB4.5 cm (1.77 i...,https://www.flipkart.com/lava-a3-vibe/p/itmed3...,1319
975,Kechaoda A26,"₹1,499",₹930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a26/p/itmfcv...,1499
978,Kechaoda A27,"₹1,499",₹967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...,1499

In [26]:
df.drop(columns=["Actual price","Link","Description"],inplace = True)

In [27]:
df

,Product Name,Discount price,Stars,Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Actual Price
0,"Apple iPhone 15 (Green, 128 GB)","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
1,"Apple iPhone 15 (Blue, 128 GB)","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
2,"Apple iPhone 15 (Black, 128 GB)","₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹11,489",4.0,1005,41,4,128,6.56,50MP,19999
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹12,999",4.0,1005,41,4,64,6.56,50MP,16999
...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,"₹1,064",4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,1412
973,Kechaoda K28,"₹1,260",4.0,4073,323,NIL,NIL,2.40,3MP,1399
974,LAVA A3 vibe,"₹1,212",4.2,21425,2247,NIL,0,1.77,3MP,1319
975,Kechaoda A26,₹930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,1499
978,Kechaoda A27,₹967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,1499

In [28]:
df["Discount price"] = df["Discount price"].str.replace("₹", "").str.replace(",", "")

In [29]:
df

,Product Name,Discount price,Stars,Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Actual Price
0,"Apple iPhone 15 (Green, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
1,"Apple iPhone 15 (Blue, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
2,"Apple iPhone 15 (Black, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
3,"OnePlus N20 SE (JADE WAVE, 128 GB)",11489,4.0,1005,41,4,128,6.56,50MP,19999
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)",12999,4.0,1005,41,4,64,6.56,50MP,16999
...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,1064,4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,1412
973,Kechaoda K28,1260,4.0,4073,323,NIL,NIL,2.40,3MP,1399
974,LAVA A3 vibe,1212,4.2,21425,2247,NIL,0,1.77,3MP,1319
975,Kechaoda A26,930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,1499
978,Kechaoda A27,967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,1499

In [30]:
df.rename(columns={"Stars":"Stars(out of 5)"},inplace = True)

In [31]:
df

,Product Name,Discount price,Stars(out of 5),Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Actual Price
0,"Apple iPhone 15 (Green, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
1,"Apple iPhone 15 (Blue, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
2,"Apple iPhone 15 (Black, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
3,"OnePlus N20 SE (JADE WAVE, 128 GB)",11489,4.0,1005,41,4,128,6.56,50MP,19999
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)",12999,4.0,1005,41,4,64,6.56,50MP,16999
...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,1064,4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,1412
973,Kechaoda K28,1260,4.0,4073,323,NIL,NIL,2.40,3MP,1399
974,LAVA A3 vibe,1212,4.2,21425,2247,NIL,0,1.77,3MP,1319
975,Kechaoda A26,930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,1499
978,Kechaoda A27,967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,1499

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 657 entries, 0 to 978
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product Name         657 non-null    object
 1   Discount price       657 non-null    int32
 2   Stars(out of 5)      657 non-null    float64
 3   Rating               657 non-null    int32
 4   Overall_Reviews      657 non-null    int32
 5   RAM (GB)             657 non-null    object
 6   Storage (GB)         657 non-null    object
 7   Display Size (inch)  657 non-null    float64
 8   Camera               609 non-null    object
 9   Actual Price         657 non-null    object
dtypes: float64(2), int32(3), object(5)
memory usage: 48.8+ KB

In [33]:
df["Discount price"] = pd.to_numeric(df["Discount price"].str.replace("₹", "").str.replace(",", ""), errors='coerce')

In [34]:
df["Discount price"] = df["Discount price"].fillna(0.0)

In [35]:
df["Discount price"] = df["Discount price"].astype("int")

In [37]:
df["Actual price"] = pd.to_numeric(df["Actual Price"].str.replace("₹", "").str.replace(",", ""), errors='coerce')

In [42]:
df["Actual price"] =df["Actual price"] .fillna(0.0)

In [43]:
df["Actual price"]  = df["Actual price"].astype("int")

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 657 entries, 0 to 978
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product Name         657 non-null    object
 1   Discount price       657 non-null    int32
 2   Stars(out of 5)      657 non-null    float64
 3   Rating               657 non-null    int32
 4   Overall_Reviews      657 non-null    int32
 5   RAM (GB)             657 non-null    object
 6   Storage (GB)         657 non-null    object
 7   Display Size (inch)  657 non-null    float64
 8   Camera               609 non-null    object
 9   Actual Price         657 non-null    object
 10  Actual price         657 non-null    int32
dtypes: float64(2), int32(4), object(5)
memory usage: 51.3+ KB

In [47]:
df.drop(columns="Actual Price",inplace=True)

In [48]:
df

,Product Name,Discount price,Stars(out of 5),Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Actual price
0,"Apple iPhone 15 (Green, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
1,"Apple iPhone 15 (Blue, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
2,"Apple iPhone 15 (Black, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
3,"OnePlus N20 SE (JADE WAVE, 128 GB)",11489,4.0,1005,41,4,128,6.56,50MP,19999
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)",12999,4.0,1005,41,4,64,6.56,50MP,16999
...,...,...,...,...,...,...,...,...,...,...
971,Kechaoda K33,1064,4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,1412
973,Kechaoda K28,1260,4.0,4073,323,NIL,NIL,2.40,3MP,1399
974,LAVA A3 vibe,1212,4.2,21425,2247,NIL,0,1.77,3MP,1319
975,Kechaoda A26,930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,1499
978,Kechaoda A27,967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,1499

In [49]:
df = df.reset_index(drop=True)

In [50]:
df

,Product Name,Discount price,Stars(out of 5),Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Actual price
0,"Apple iPhone 15 (Green, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
1,"Apple iPhone 15 (Blue, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
2,"Apple iPhone 15 (Black, 128 GB)",65999,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,79600
3,"OnePlus N20 SE (JADE WAVE, 128 GB)",11489,4.0,1005,41,4,128,6.56,50MP,19999
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)",12999,4.0,1005,41,4,64,6.56,50MP,16999
...,...,...,...,...,...,...,...,...,...,...
652,Kechaoda K33,1064,4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,1412
653,Kechaoda K28,1260,4.0,4073,323,NIL,NIL,2.40,3MP,1399
654,LAVA A3 vibe,1212,4.2,21425,2247,NIL,0,1.77,3MP,1319
655,Kechaoda A26,930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,1499
656,Kechaoda A27,967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,1499

In [75]:
df[df["RAM (GB)"]=="NIL"]

,Product Name,Discount price,Stars(out of 5),Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Actual price
17,"itel it5027 6.1cm Screen,1200mAh Battery Wirel...",1177,3.8,466,30,NIL,NIL,2.40,3MP + 0MP,1499
21,"Apple iPhone 15 Plus (Yellow, 128 GB)",73999,4.6,7658,637,NIL,128,6.70,48MP + 12MP,89600
27,LAVA A3 Vibe DS Keypad Mobile| 1750 mAh Batter...,1208,4.1,1536,97,NIL,NIL,1.77,3MP,1649
44,LAVA A1 Josh BOL Keypad Mobile|1000 mAh Batter...,960,4.0,7129,323,NIL,NIL,1.77,NaN,1399
57,"Nokia 105 Single SIM, Keypad Mobile Phone with...",1449,4.1,107686,6681,NIL,NIL,1.77,NaN,1599
...,...,...,...,...,...,...,...,...,...,...
652,Kechaoda K33,1064,4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,1412
653,Kechaoda K28,1260,4.0,4073,323,NIL,NIL,2.40,3MP,1399
654,LAVA A3 vibe,1212,4.2,21425,2247,NIL,0,1.77,3MP,1319
655,Kechaoda A26,930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,1499
656,Kechaoda A27,967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,1499

In [76]:
df[df["Product Name"].str.startswith("Apple iPhone 12")].index.to_list()

[649, 650, 651]

In [77]:
df.iloc[[599, 600, 601],5] = [4,4,4]

In [78]:
df[df["Product Name"].str.startswith("Apple iPhone 13")].index.to_list()

[637, 643, 644, 645, 646]

In [79]:
df.iloc[[590, 593, 594, 595, 596],5] = [4,4,4,4,4]

In [80]:
df[df["Product Name"].str.startswith("Apple iPhone 13")].index.to_list()

[637, 643, 644, 645, 646]

In [81]:
df[df["Product Name"].str.startswith("Apple iPhone 14 Plus")].index.to_list()

[117, 311, 510, 511, 542, 543]

In [82]:
df.iloc[[106, 282, 470, 471, 500, 501],5] = 6

In [83]:
df1 = df[df["Product Name"].str.startswith("Apple iPhone 15 Plus")].index.to_list()

In [84]:
df[df["RAM (GB)"]=="NIL"]

,Product Name,Discount price,Stars(out of 5),Rating,Overall_Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Actual price
17,"itel it5027 6.1cm Screen,1200mAh Battery Wirel...",1177,3.8,466,30,NIL,NIL,2.40,3MP + 0MP,1499
21,"Apple iPhone 15 Plus (Yellow, 128 GB)",73999,4.6,7658,637,NIL,128,6.70,48MP + 12MP,89600
27,LAVA A3 Vibe DS Keypad Mobile| 1750 mAh Batter...,1208,4.1,1536,97,NIL,NIL,1.77,3MP,1649
44,LAVA A1 Josh BOL Keypad Mobile|1000 mAh Batter...,960,4.0,7129,323,NIL,NIL,1.77,NaN,1399
57,"Nokia 105 Single SIM, Keypad Mobile Phone with...",1449,4.1,107686,6681,NIL,NIL,1.77,NaN,1599
...,...,...,...,...,...,...,...,...,...,...
652,Kechaoda K33,1064,4.0,9879,597,NIL,NIL,1.40,3MP + 0MP,1412
653,Kechaoda K28,1260,4.0,4073,323,NIL,NIL,2.40,3MP,1399
654,LAVA A3 vibe,1212,4.2,21425,2247,NIL,0,1.77,3MP,1319
655,Kechaoda A26,930,4.0,22244,1377,NIL,NIL,0.66,0MP | 0MP,1499
656,Kechaoda A27,967,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,1499

In [63]:
df1

[21, 509, 562, 573, 623]

In [64]:
df1[df1["Rating"]=="NIL"]

TypeError: list indices must be integers or slices, not str

In [65]:
df.iloc[[19, 469, 519, 530, 578], 5] = 6

In [66]:
df2 = df[df["Product Name"].str.startswith("Apple iPhone 14 ")]

In [67]:
df1[df1['RAM (GB)']=='NIL'].index.to_list()

TypeError: list indices must be integers or slices, not str

In [68]:
df.iloc[[0, 1, 2, 307, 362, 363, 400, 498], 5] = 4

In [69]:
df2[df2["RAM (GB)"]=="NIL"].index.to_list()

[117, 186, 296, 311, 510, 511, 515, 542, 543, 555, 611]

In [70]:
df.iloc[[170, 267, 474, 513, 566],5]=4

In [71]:
df[df["RAM (GB)"]=="NIL"].index.to_list()

[17,
 21,
 27,
 44,
 57,
 58,
 65,
 67,
 69,
 81,
 92,
 104,
 105,
 117,
 124,
 148,
 149,
 151,
 153,
 165,
 171,
 186,
 199,
 208,
 211,
 222,
 224,
 226,
 236,
 243,
 245,
 249,
 269,
 274,
 296,
 311,
 321,
 322,
 324,
 338,
 341,
 347,
 357,
 377,
 396,
 397,
 428,
 435,
 442,
 463,
 466,
 488,
 502,
 504,
 509,
 510,
 511,
 512,
 515,
 533,
 540,
 542,
 543,
 555,
 556,
 562,
 573,
 591,
 611,
 623,
 634,
 635,
 637,
 638,
 639,
 642,
 643,
 644,
 645,
 646,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656]

In [72]:
df.iloc[[59, 73, 136, 139, 293, 343, 427, 602],5] = 0

In [73]:
df["RAM (GB)"].unique()

array([4, '4', '8', '6', '12', '16', 'NIL', 6, '3', '2', 0, '32', '46875'],
      dtype=object)

In [74]:
df["RAM (GB)"] = df["RAM (GB)"].astype("int")

ValueError: invalid literal for int() with base 10: 'NIL'

In [ ]:
df

In [ ]:
df["Storage (GB)"] = df["Storage (GB)"].astype("int")

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df["Camera"].unique()

In [ ]:
df["Camera"] = df["Camera"].str.replace("|","+")

In [ ]:
df["Camera"].fillna("0MP",inplace = True)

In [ ]:
df[df["Camera"]=="0MP"]

In [ ]:
df[df["Product Name"].str.startswith("Infinix SMART 8 HD")]

In [ ]:
df.iloc[[18,193,324,579],8] = "13MP + AI Lens"

In [ ]:
df[df["Camera"]=="0MP"]

In [ ]:
df3 = df[df["Product Name"].str.startswith("Infinix SMART 8")]

In [ ]:
df3[df3["Camera"]=='0MP'].index

In [ ]:
df.iloc[[51, 52, 322, 323, 397, 398, 436, 437],8] = "50MP + AI Lens"

In [ ]:
df[df["Camera"]=="0MP"]

In [ ]:
df[df["Product Name"].str.startswith("Infinix Smart 8 Plus")].index

In [88]:
df.iloc[[453, 527, 528],7] = "50MP + AI Lens"

C:\Users\matru\AppData\Local\Temp\ipykernel_10356\817266042.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '50MP + AI Lens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[[453, 527, 528],7] = "50MP + AI Lens"

In [89]:
df.iloc[[453, 527, 528],7]

453    50MP + AI Lens
527    50MP + AI Lens
528    50MP + AI Lens
Name: Display Size (inch), dtype: object

In [ ]:
df[df["Camera"]=="0MP"]

In [ ]:
df[df["Product Name"].str.startswith("Infinix HOT 30i")].index

In [ ]:
df.iloc[[61, 434, 435, 555, 556, 586, 587],8] = "50MP + AI Lens"

In [86]:
df.iloc[[61, 434, 435, 555, 556, 586, 587],7]

61     6.79
434    6.78
435    6.10
555    6.10
556    2.40
586    6.74
587    6.70
Name: Display Size (inch), dtype: float64

In [ ]:
df[df["Product Name"].str.startswith("Infinix HOT 40i")].index

In [ ]:
df.iloc[[63, 183, 505, 509],8] = "50MP + AI Lens"

In [ ]:
df[df["Camera"]=="0MP"]

In [ ]:
df[df["Product Name"].str.startswith("Infinix Note 30 5G")].index

In [ ]:
df.iloc[[461, 462, 494],8] = "108MP + 2MP + AI Lens"

In [ ]:
df[df["Product Name"].str.startswith("Infinix HOT 30 5G")].index

In [ ]:
df.iloc[[325, 490],8] = "50MP + AI Lens"

In [91]:
df[df["Camera"]=="0MP"]

Empty DataFrame
Columns: [Product Name, Discount price, Stars(out of 5), Rating, Overall_Reviews, RAM (GB), Storage (GB), Display Size (inch), Camera, Actual price]
Index: []

In [ ]:
df.iloc[472,8] = "50MP"

In [90]:
df.iloc[472,7]

6.6

In [ ]:
df[df["Camera"]=="0MP"]

In [ ]:
df[df["RAM (GB)"]==0]

In [ ]:
df

In [ ]:
cleaned_df = df.copy()

In [ ]:
cleaned_df

In [ ]:
cleaned_df.info()

In [ ]:
high_level_phones = df[df["Discount price"]>30000]

In [ ]:
mid_level_phones = df[(df["Discount price"]>=10000) & (df["Discount price"]<=30000)]

In [ ]:
low_level_phones = df[df["Discount price"]<10000]

In [ ]:
high_level_phones.describe()

In [ ]:
high_level_phones[high_level_phones["Actual Price"]==0]

In [ ]:
mid_level_phones.describe()

In [ ]:
mid_level_phones[mid_level_phones["Actual Price"]==0]

In [ ]:
low_level_phones.describe()

In [ ]:
low_level_phones[low_level_phones["Actual Price"]==0]

In [ ]:
high_level_phones.info()

In [ ]:
df

In [ ]:
cleaned_df

In [ ]:
cleaned_df